
<div class="wrap">
  <%= render "shared/navigation" %>
  <div class="container">
    <h3>Buat Sekilas Info</h3>
    <%= render 'form' %>
    <%= link_to '« Kembali', admin_sekilas_info_path %>
  </div> 
</div>
