<div class="wrap">
  <div class="container">
    <div class="row">
      <h3>Tambah Pegawai</h3>

      <%= render 'form' %>

      <%= link_to '« Kembali', daftar_pegawais_path %>
      
    </div>
  </div>
</div>
