<div class="wrap">
  <%= render "shared/navigation" %>
  <div class="container">
    <h3>Edit Suara Rakyat</h3>
    <%= render 'form' %>
    <%= link_to '« Kembali', admin_suara_rakyat_path %> 
  </div>
</div>

