<div class="wrap">
  <%= render 'shared/navigation' %>
  <div class="container">
    <div class="row">      
      <div class="span8">
        <h3>Buat Suara Rakyat</h3>
        <%= render 'form' %>
        <% if user_signed_in? %>
            <%= link_to '« Kembali', admin_suara_rakyat_path %>   
        <% else %>
            <%= link_to '« Kembali', root_url %>        
        <% end %>
      </div>      
    </div>
  </div>
</div>

