<div class="wrap">
  <%= render 'shared/navigation' %>
  <div class="container">
    <div class="row">      
      <div class="span8">
        <h3>Buat Suara Rakyat</h3>
        <%= render 'form' %>
        <%= link_to '« Kembali', admin_suara_rakyat_path %>      
      </div>      
    </div>
  </div>
</div>

