 
<div class="wrap">
  <%= render "shared/navigation" %>
  <div class="container">
    <h3>Buat Berita DPU</h3>
    <%= render 'form' %>
    <%= link_to '« Kembali', admin_berita_dpu_path %>
    <hr>
  </div> 
</div>
