<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Index Halaman</h1>

        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nama</th>              
              <th></th>
              <th></th>
              
            </tr>
          </thead>

          <tbody>
            <% @pages.each do |page| %>
              <tr>
                <td><%= page.id %></td>
                <td><%= link_to page.name, page %></td>                        
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
        <%= link_to 'Buat Halaman', new_page_path %>
        <div class="push"></div>
      </div>
    </div>
  </div>
</div>
