<div class ="wrap">
  <%= render 'shared/navigation' %>
  <div class="container">
    <div class="row">      
      <div class="span12">
        <h3>Edit Gambar</h3>

        <%= render 'form' %>

        <%= link_to 'Lihat', galery_album_path(@galery,@album) %> |
        <%= link_to '« Kembali', @album.galery %>
        
      </div>      
    </div>
  </div>
</div>
