// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0;
}
html, body {
	height: 100%;
}

.wrap {
min-height: 100%;
height: auto !important;
margin: 0 auto -60px;
}


.muted {
color: #999999;
}

.push, .footer {
height: 60px;
}

