// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	margin: 0;
}
html, body {
	height: 100%;
}

.wrap {
min-height: 100%;
height: auto !important;
margin: 0 auto -60px;
}


.muted {
color: #999999;
}

.push, .footer {
height: 60px;
}

.hero-unit {
padding: 60px;
margin-bottom: 30px;
font-size: 18px;
font-weight: 200;
line-height: 30px;
color: inherit;
background-color: #ffffff;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.itemCarousel{
  width: auto;
  height: 250px;
  max-height: 250px;
}

//li:hover a{
// border-bottom: 5px solid #1f2d1a;
//}