<p>Selamat Bergabung Di Website resmi DPU-Lutra <%= @email %>!</p>
<p>Anda dapat mengkonfirmasi akun email anda melalui link berikut:</p>

<p><%= link_to 'Konfirmasi Akun Saya', confirmation_url(@resource, confirmation_token: @token) %></p>
