<p>Halo <%= @resource.email %>!</p>
<p>Seeorang telah meminta sebuah link untuk mengganti password anda. Anda dapat melakukannya melalui link berikut.</p>
<p><%= link_to 'Ubah Password Saya', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Jika anda tidak melakukan permintaan ini, tolong abaikan saja email ini.</p>
<p>Password anda tidak akan berubah hingga anda mengakses link bdi atas dan membuat password yang baru lagi.</p>
