<p>Halo <%= @resource.email %>!</p>
<p>Akun anda telah dikunci otomatis karena beberapa kali gagal login</p>
<p>Klik link berikut untuk membuka kunci akun anda</p>
<p><%= link_to 'Buka Kunci Akun Saya', unlock_url(@resource, unlock_token: @token) %></p>
